<div id="{{post.id}}" class="post__container">
    <div class="post__header">
        <div class="post__privacy">
            <div class="feed__creator--photo">
                <img id="feed__creator--photo" src="../../images/user/{{post.creator_photo}}.jpg" alt="">
            </div>
            <img class="privacy__img" src="../../images/privacy.svg" alt="privacy">
            {{#if post.subscriptions}}
                С подпиской:
                <div class="post__subs">
                    {{#each post.subscriptions}}
                        <p>{{title}}</p>
                    {{/each}}
                </div>
            {{else}}
                Открыт для всех
            {{/if}}
        </div>
        <div class="post__date">
            {{#if ../post.is_my_page}}
                <img id="edit__post" class="edit__img clickable" src="../../images/edit.svg" alt="edit">
                <img id="delete__post" class="delete__img clickable" src="../../images/delete.svg"
                     alt="delete">
            {{/if}}
            <p id="creation__date" class="creation__date">{{post.creation_date}}</p>
        </div>
    </div>

    <div class="post__content">
        <p class="content__header">{{post.title}}</p>
        {{#each post.textWithBreaks}}
            {{#if ../post.is_available}}
                <p>{{text}}</p>
            {{else}}
                <div class="no__access--container">
                    <p>У вас нет доступа к этому посту</p>
                    <img class="no__access" src="../../images/no-access.jpeg" alt="no-access">
                </div>
            {{/if}}
        {{/each}}

        <div id="attachments-{{post.id}}" class="attach-container"></div>

        <div class="feedback">
            <div class="post__likes">
                {{#if ../post.is_my_page}}
                    <img id="disable-like-icon" class="icon--like"
                         src="../../images/disable_like_icon.png" alt="like--disable">
                {{else}}
                    {{#if post.is_liked}}
                        <img id="love-like-icon" class="icon--like clickable"
                             src="../../images/love_like_icon.png" alt="like--liked">
                    {{else}}
                        <img id="like-icon" class="icon--like clickable" src="../../images/like_icon.png"
                             alt="like--enable">
                    {{/if}}
                {{/if}}
                {{post.likes_count}}
            </div>

            <div class="post__comments">
                <img class="icon--comments" src="../../images/comment_icon.png" alt="comment">
                0
            </div>

            <div></div>
        </div>
    </div>

    <div class="post__footer">
        <hr>
        <p class="comment__header">0 комментариев</p>
        <div class="footer__comment--input">
            <textarea class="input--form comment__input"></textarea>
            <img class="comment__send" src="../../images/send.svg">
        </div>

        <div class="comment__list">
            {{#each comments}}
                <img id="comment__photo" src="../../images/user/{{user_photo}}" alt="">
                <p>{{text}}</p>
                <p>{{creation}}</p>
            {{/each}}
        </div>
    </div>
</div>
