<div id="background" class="background--settings">
</div>
<div id="winSettings">
    {{#if profile.showDisplay}}
        <div class="winsettings--href">
            <a id={{profile.id}} class="hover--underline" href={{profile.href}}> {{profile.name}} </a>
        </div>
    {{/if}}
    {{#if finance.showDisplay}}
        <div class="winsettings--href">
            <a id={{finance.id}} class="inactive" href={{finance.href}}> {{finance.name}} </a>
        </div>
    {{/if}}
    {{#if settings.showDisplay}}
        <div class="winsettings--href">
            <a id={{settings.id}} class="hover--underline" href={{settings.href}}> {{settings.name}} </a>
        </div>
    {{/if}}
    {{#if logout.showDisplay}}
        <div class="winsettings--href">
            <a id={{logout.id}} class="hover--underline" href={{logout.href}}> {{logout.name}} </a>
        </div>
    {{/if}}
</div>
