<div id="background" class="background-settings">
</div>
<div id="winSettings">
    {{#if profile.showDisplay}}
        <a id={{profile.id}} href={{profile.href}}> {{profile.name}} </a>
    {{/if}}
    {{#if finance.showDisplay}}
        <a id={{finance.id}} href={{finance.href}}> {{finance.name}} </a>
    {{/if}}
    {{#if settings.showDisplay}}
        <a id={{settings.id}} href={{settings.href}}> {{settings.name}} </a>
    {{/if}}
    {{#if logout.showDisplay}}
        <a id={{logout.id}} href={{logout.href}}> {{logout.name}} </a>
    {{/if}}
</div>
