<div id="background" class="background--settings">
</div>
<div id="winSettings">
    <div class="media__1000px">
        {{#if modalWindow.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{modalWindow.id}}" class="winsettings__href disabled" href={{modalWindow.href}}>
                    <p>{{modalWindow.name}}</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}
    </div>

    {{#if profile.showDisplay}}
        <div class="winsettings__chapter">
            <a id="{{profile.id}}" class="winsettings__href" href={{profile.href}}>
                <img class="winsettins__img" src="../../images/tag.svg" alt="myPage">
                <p>Моя страница</p>
            </a>
        </div>
        <hr class="winsettings__hr">
    {{/if}}

    <div class="media__1300px">
        {{#if feed.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{feed.id}}" class="winsettings__href" href={{feed.href}}>
                    <img class="winsettins__img" src="../../images/feed.svg" alt="myPage">
                    <p>Лента</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}

        {{#if subs.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{subs.id}}" class="winsettings__href" href={{subs.href}}>
                    <img class="winsettins__img" src="../../images/subscriptions.svg" alt="myPage">
                    <p>Подписки</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}
    </div>

    <div class="media__1000px">
        {{#if findAuth.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{findAuth.id}}" class="winsettings__href" href={{findAuth.href}}>
                    <img class="winsettins__img" src="../../images/creator.svg" alt="myPage">
                    <p>Авторы</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}

        {{#if beAuthor.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{beAuthor.id}}" class="winsettings__href" href={{beAuthor.href}}>
                    <img class="winsettins__img" src="../../images/notification.svg" alt="myPage">
                    <p>Cтать автором</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}
    </div>

    <div class="media__1300px">
        {{#if notifications.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{notifications.id}}" class="winsettings__href clickable" href={{notifications.href}}>
                    {{#if are_notifications}}
                        <img class="winsettins__img"
                             src="../../images/notification.svg" alt="">
                    {{else}}
                        <img class="winsettins__img"
                             src="../../images/no_notifications.svg" alt="">
                    {{/if}}
                    <p>Уведомления</p>
                </a>
            </div>
            <hr class="winsettings__hr">
        {{/if}}
    </div>

    {{#if finance.showDisplay}}
        <div class="winsettings__chapter">
            <a id="{{finance.id}}" class="winsettings__href"
               href={{finance.href}}>
                <img class="winsettins__img" src="../../images/finance.svg" alt="finance">
                <p>Мои доходы</p>
            </a>
        </div>
        <hr class="winsettings__hr">
    {{/if}}


    {{#if settings.showDisplay}}
        <div class="winsettings__chapter">
            <a id="{{settings.id}}" class="winsettings__href" href={{settings.href}}>
                <img class="winsettins__img" src="../../images/settings.svg" alt="settings">
                <p>Настройки</p>
            </a>
        </div>
        <hr class="winsettings__hr">
    {{/if}}

    <div class="media__1000px">
        {{#if about.showDisplay}}
            <div class="winsettings__chapter">
                <a id="{{about.id}}" class="winsettings__href" href={{about.href}}>
                    <img class="winsettins__img" src="../../images/about.svg" alt="myPage">
                    <p>О нас</p>
                </a>
            </div>
            {{#if logout.showDisplay}}
                <hr class="winsettings__hr">
            {{/if}}
        {{/if}}
    </div>

    {{#if logout.showDisplay}}
        <div class="winsettings__chapter">
            <a id="{{logout.id}}" class="winsettings__href" href={{logout.href}}>
                <img class="winsettins__img" src="../../images/logout.svg" alt="logout">
                <p>Выйти</p>
            </a>
        </div>
    {{/if}}
</div>
