<div class="statistics">
    <p class="statistics__title">Статистика</p>
    <div class="statistics__total">
        {{#each statisticsTotalList}}
            <div class="statistics__card">
                <div class="card__icon">
                    <img src="../../images/{{card_icon}}" width="25" alt="statistics_icon">
                </div>
                <div>{{count}}</div>
                <div>{{description}}</div>
            </div>
        {{/each}}
    </div>
    <div class="statistics__total_money">
        {{#each statisticsTotalListMoney}}
            <div class="statistics__card">
                <div>{{count}} ₽</div>
                <div>{{description}}</div>
            </div>
        {{/each}}
    </div>

    <div class="statistics__select_date">
        <label class="statistics__label">Статистика с
            <select id="select_date__start_month" name="start_month">
                {{#each startMonths}}
                    <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>

            <select id="select_date__start_year" name="start_year">
                {{#each startYears}}
                    <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </label>
        <label>до
            <select id="select_date__end_month" name="end_month">
                {{#each endMonths}}
                    <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
            <select id="select_date__end_year" name="end_year">
                {{#each endYears}}
                    <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </label>
        <button id="select_date__show_button" class="select_date__show_button">Показать</button>
        <div id="select_date__err" class="error"></div>
    </div>

    <div class="statistics__interval">
        {{#each statisticsIntervalList}}
            <div class="statistics__card">
                <div class="card__icon">
                    <img src="../../images/{{card_icon}}" width="25" alt="statistics_icon">
                </div>
                <div>{{count}}</div>
                <div>{{description}}</div>
            </div>
        {{/each}}
    </div>
    <div class="statistics__interval_money">
        {{#each statisticsIntervalListMoney}}
            <div class="statistics__card">
                <div>{{count}} ₽</div>
                <div>{{description}}</div>
            </div>
        {{/each}}
    </div>
    <div class="get_money">
        <h2>Вывод денег</h2>
        <h3>Доступный для вывода баланс: {{balance}}</h3>
        <label>Введите номер телефона (начиная с +7)
            <input id="get_money__phone" name="phone" value="+7">
        </label>
        <div id="get_phone__err" class="error"></div>
        <label>Введите желаемую сумму вывода (не менее 2 рублей)
            <input id="get_money__sum">
        </label>
        <div id="get_money__err" class="error"></div>
        <button id="get_money__button">Готово</button>
    </div>
</div>
