<div class="posts__container">
    {{#if posts}}
        {{#each posts}}
            <div id="{{id}}" class="post__container">
                <div class="post__header">
                    <div class="post__privacy">
                        <img class="privacy__img" src="../../images/privacy.svg" alt="privacy">
                        {{#if subscriptions}}
                            <div class="post__subs">
                                <p>С подпиской:</p>
                                <div class="post__sub--list">
                                    {{#each subscriptions}}
                                        <p>{{title}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        {{else}}
                            <p class="privacy__free">Открыт для всех</p>
                        {{/if}}
                    </div>
                    <div class="post__date">
                        <p id="creation__date" class="creation__date">{{creation_date}}</p>
                        {{#if ../is_my_page}}
                            <img id="edit__post" class="edit__img clickable" src="../../images/edit.svg" alt="edit">
                            <img id="delete__post" class="delete__img clickable" src="../../images/delete.svg"
                                 alt="delete">
                        {{/if}}
                    </div>
                </div>

                <div class="post__content">
                    <p class="content__header">{{title}}</p>
                    {{#each textWithBreaks}}
                        {{#if ../is_available}}
                            {{#if text}}
                                <p>{{text}}</p>
                            {{else}}
                                <br>
                            {{/if}}
                        {{else}}
                            <div class="no__access--container">
                                <p class="no__access--title">У вас нет доступа к этому посту</p>
                                <img class="no__access" src="../../images/no-access.jpeg" alt="no-access">
                            </div>
                        {{/if}}
                    {{/each}}

                    <div id="attachments-{{id}}" class="attach-container"></div>

                    <div class="feedback">
                        <div class="post__likes">
                            {{#if ../is_my_page}}
                                <img id="disable-like-icon" class="icon--like"
                                     src="../../images/disable_like_icon.png" alt="like--disable">
                            {{else}}
                                {{#if is_liked}}
                                    <img id="love-like-icon" class="icon--like"
                                         src="../../images/love_like_icon.png" alt="like--liked">
                                {{else}}
                                    <img id="like-icon" class="icon--like" src="../../images/like_icon.png"
                                         alt="like--enable">
                                {{/if}}
                            {{/if}}
                            {{likes_count}}
                        </div>

                        <div class="post__comments">
                            <img id="post__comment" class="icon--comments clickable" src="../../images/comment_icon.png"
                                 alt="comment">
                            {{comments_count}}
                        </div>

                        <div></div>
                    </div>
                </div>
            </div>
        {{/each}}

    {{else}}
        <div class="posts--nothing">
            {{#if is_my_page}}
                <p>Вы пока не добавили ни одного поста</p>
            {{else}}
                <p>Автор пока не добавил ни одного поста</p>
            {{/if}}
        </div>
    {{/if}}
</div>
