<div id="author__photo" class="author__photo--container">

    <img class="creator__photo" src="../../images/author-photo.jpg" alt="">
    <img class="creator__photo" src="../../images/{{creator_info.profile_photo}}.jpg" alt="">
    {{#if is_my_page}}
        <div class="photo--hover">
            <label class="creatorphoto__load--label">
                <input id="photo__upload" type="file" class="upload"/>
                <img class="photo__img" src="../../images/load-cover.svg" alt="load">
                <h3 class="photo__text">Загрузить фото</h3>
            </label>
            <img id="delete__creator--photo" src="../../images/delete.svg" alt="">
        </div>
    {{/if}}
</div>

<div id="author__header">
    <div id="author__header--photo">
        {{#if is_my_page}}
            <label class="cover__load--label">
                <input id="cover__upload" type="file" class="upload"/>
                <span id="author__header--hover">
                    <h2 class="cover__title">
                        <img class="cover__img" src="../../images/load-cover.svg" alt="load-cover">
                        <p class="cover__title--text">Загрузить фото</p>
                    </h2>
                </span>
            </label>
            <img id="delete__creator--cover" src="../../images/delete.svg" alt="">

        {{/if}}
    </div>
</div>

<!------------------------------------------------------------------------------------------------->
<div class="author__container">

    <div class="auth__service">
        <div class="subscribers">
            <h2 class="subs__count">
                <img class="followers__img" src="../../images/followers.svg" alt="followers">
                подписчиков: {{creator_info.followers_count}}
            </h2>
        </div>

        <div id="{{creator_info.creator_id}}" class="support">
            {{#if isAuthorized}}
                {{#unless is_my_page}}
                    {{#if follows}}
                        <button id="unfollow__btn" class="support__btn follow__btn">
                            <p class="follow__btn--text">Перестать отслеживать</p>
                        </button>
                    {{else}}
                        <button id="follow__btn" class="support__btn follow__btn">
                            <img src="../../images/follow.svg" alt="follow">
                            <p class="follow__btn--text">Отслеживать</p>
                        </button>
                    {{/if}}
                    <button id="donate__btn" class="support__btn donate__btn">
                        <img src="../../images/donate.svg" alt="donate">
                        <p class="donate__btn--text">Отправить донат</p>
                    </button>
                {{/unless}}
            {{/if}}
        </div>

        <div class="aim">
            <p>Цель</p>
            <div class="aim__container">
                {{#if aim.description}}
                    <div class="aim__header">
                        <div></div>
                        <p class="aim__text">{{aim.money_got}} из {{aim.money_needed}} р</p>
                        {{#if is_my_page}}
                            <img id="aim__edit" src="../../images/edit.svg" alt="edit">
                        {{/if}}
                    </div>
                    <div class="aim__bar">
                        <div id="bar--row"></div>
                    </div>
                    <p class="aim__description">{{aim.description}}</p>
                {{else}}
                    {{#if is_my_page}}
                        <img id="aim__add" class="aim__add" src="../../images/add.svg" alt="add">
                        <p class="text--default">У вас пока не выбрана цель</p>
                    {{else}}
                        <p class="text--default">У автора нет цели, есть только путь</p>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        {{#if is_my_page}}
            <button id="create__post">Создать пост</button>
        {{/if}}

    </div>

    <!------------------------------------------------------------------------------------------------>
    <div class="auth__content">

        <div class="about">
            <h1 class="about__title">
                <p id="creator__name">{{creator_info.name}}</p>
                {{#if is_my_page}}
                    <img id="edit__profile" class="about__edit" src="../../images/edit.svg" alt="edit">
                {{/if}}
            </h1>
            <p id="creator__description" class="about__description">{{creator_info.description}}</p>
        </div>

        <div class="subs">
            <div class="subs__title">
                <p class="subs__title--text">Уровни подписки</p>
                {{#if is_my_page}}
                    <img id="subs__add" class="subs__add" src="../../images/add.svg" alt="add">
                {{/if}}
            </div>

            <div id="{{creator_info.creator_id}}" class="sub__space">
                {{#if subscriptions}}
                    <div id="arrow--prev" class="arrow__container"></div>
                    <div class="sub__container">
                        {{#each subscriptions}}
                            <div id="{{id}}" class="sub__card">
                                <div class="sub__title">
                                    <h3 class="sub__title--text">{{title}}</h3>
                                    {{#if ../is_my_page}}
                                        <img id="sub__delete" src="../../images/delete.svg" alt="delete">
                                    {{/if}}
                                </div>
                                <p class="sub__description">{{description}}</p>
                                <div class="sub__cost">
                                    <h2 id="sub__price" class="cost">{{month_cost}}</h2>
                                    <h3 class="rpm">р/месяц</h3>
                                </div>

                                {{#if ../is_my_page}}
                                    <button id="sub__edit" class="sub__btn">
                                        <img class="sub__edit" src="../../images/pencil.png" alt="pencil">
                                        Изменить
                                    </button>
                                {{else}}
                                    {{#if ../isAuthorized}}
                                        <button id="get__sub" class="sub__btn sub__buy">Оформить</button>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    <div id="arrow--next" class="arrow__container"></div>

                {{else}}
                    {{#if is_my_page}}
                        <p></p>
                        <p class="text--default">У вас пока нет ни одной подписки</p>
                    {{else}}
                        <p></p>
                        <p class="text--default">У автора пока нет ни одной подписки</p>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        <div class="posts">
            {{#if posts}}
                {{#each posts}}
                    <div id="{{id}}" class="post__container">
                        <div class="post__header">
                            <div class="post__privacy">
                                <img class="privacy__img" src="../../images/privacy.svg" alt="privacy">
                                {{#if subscriptions}}
                                    С подпиской:
                                    <div class="post__subs">
                                        {{#each subscriptions}}
                                            <p>{{title}}</p>
                                        {{/each}}
                                    </div>
                                {{else}}
                                    Открыт для всех
                                {{/if}}
                            </div>
                            <div class="post__date">
                                {{#if ../is_my_page}}
                                    <img id="edit__post" class="edit__img" src="../../images/edit.svg" alt="edit">
                                    <img id="delete__post" class="delete__img" src="../../images/delete.svg"
                                         alt="delete">
                                {{/if}}
                                <p id="creation__date">{{creation_date}}</p>
                            </div>
                        </div>

                        <div class="post__content">
                            <h2 class="content__header">{{title}}</h2>
                            {{#each textWithBreaks}}
                                {{#if ../is_available}}
                                    <p>{{text}}</p>
                                {{else}}
                                    <div class="no__access--container">
                                        <p>У вас нет доступа к этому посту</p>
                                        <img class="no__access" src="../../images/no-access.jpeg" alt="no-access">
                                    </div>
                                {{/if}}
                            {{/each}}

                            <div id="attachments-{{id}}" class="attach-container"></div>

                            <div class="feedback">
                                <div class="post__likes">
                                    {{#if ../is_my_page}}
                                        <img id="disable-like-icon" class="icon--like"
                                             src="../../images/disable_like_icon.png" alt="like--disable">
                                    {{else}}
                                        {{#if is_liked}}
                                            <img id="love-like-icon" class="icon--like"
                                                 src="../../images/love_like_icon.png" alt="like--liked">
                                        {{else}}
                                            <img id="like-icon" class="icon--like" src="../../images/like_icon.png"
                                                 alt="like--enable">
                                        {{/if}}
                                    {{/if}}
                                    {{likes_count}}
                                </div>

                                <div class="post__comments">
                                    <img class="icon--comments" src="../../images/comment_icon.png" alt="comment">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}

            {{else}}
                <div class="posts--nothing">
                    {{#if is_my_page}}
                        <p>Вы пока не добавили ни одного поста</p>
                    {{else}}
                        <p>Автор пока не добавил ни одного поста</p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div id="footer">
    <hr style="opacity: 75%;">
    <!--        <h6>©️ 2023 4from5 All rights reserved. All trademarks are the property of their respective owners. <a-->
    <!--                href="https://t.me/averageqqq">TG</a></h6>-->
    <p>Свяжитесь с нами в Телеграмм: @DESOLATE17 @qqqq4u @IvanStukalovv @Vector102</p>
</div>
