<h1 class="myPage-header"><img id="user-photo" width="50" src="./images/user_photo.png" alt="user_photo"> {{creator_info.name}}</h1>
<hr>
<div id="myPage">
    <div class="container">
        <div class="box-1">
            <p>{{creator_info.followers_count}} подписчиков</p>
            <div class="subs-btn-container">
                <button id="subs-btn" class="subs-btn">Создать пост</button>
            </div>
        </div>
        <div class="box-2">
            <h3>О моем блоге: {{creator_info.description}}</h3>
            {{#each posts}}
                <h4 class="post-title">{{title}}</h4>
                {{#each textWithBreaks}}
                    <p class="post-text">{{text}}</p>
                {{/each}}
            {{/each}}
        </div>
        <div class="box-3"><h3>Уровни подписки</h3></div>
    </div>



</div>
