<div>
    <h1>{{creator_info.name}}</h1>
    <img id="user-photo" width="50" src="../../../public/user_photo.png" alt="user_photo">
    <h3>О моем блоге: {{creator_info.description}}</h3>
    <p>{{creator_info.followers_count}} подписчиков</p>
    {{#each posts}}
        <h5>Пост: {{title}}</h5>
        <p>{{text}}</p>
    {{/each}}
</div>