<h1 class="myPage-header"><img id="user-photo" width="50" src="./images/user_photo.png" alt="user_photo"> {{creator_info.name}}</h1>
<hr>
<div id="myPage">
    <div class="container">
        <div class="box-1">
            <div class="box1-btn-container">
                {{#if is_my_page}}
                    <button id="createPost-btn" class="subs-btn">Создать пост</button>
                {{else}}
                    <button id="subs-btn" class="subs-btn">Подписаться</button>
                {{/if}}
            </div>
            <div class="box1-info">
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="./images/circle_icon.png" alt="#">
                    {{creator_info.followers_count}} подписчиков
                </p>
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="./images/circle_icon.png" alt="#">
                    10000 Руб/месяц
                </p>
            </div>
            <div class="box1-info">
                <p>Цели</p>
                <p>120 из 500 рублей</p>
                <button id="subs-btn" class="subs-btn">Отправить донат</button>
            </div>
        </div>
        <div class="box-2">
            <h3>О моем блоге: {{creator_info.description}}</h3>
            {{#each posts}}
                <h4 class="post-title">{{title}}</h4>
                {{#each textWithBreaks}}
                    <p class="post-text">{{text}}</p>
                {{/each}}
            {{/each}}
        </div>
        <div class="box-3"><h3>Уровни подписки</h3></div>
    </div>



</div>
