<div class="myPage-header-container" id="myPage-header-container">
    {{#if is_my_page}}
        <img id="settings-icon" class="settings-icon" width="40" src="../../images/settings_icon.svg"
             alt="settings-icon">
    {{/if}}
    <h1 class="myPage-header"><img id="user-photo" width="50" src="../../images/user_photo.png"
                                   alt="user-photo">{{creator_info.name}}</h1>
</div>
<div id="myPage">
    <div class="myPage-container">
        <div class="box-1">
            <div class="box1-btn-container">
                {{#if is_my_page}}
                    <button id="createPost-btn" class="subs-btn">Создать пост</button>
                {{else}}
                    {{#if isAuthorized }}
                        <button id="subs-btn" class="subs-btn">Подписаться</button>
                    {{/if}}
                {{/if}}
            </div>
            <div class="box1-info">
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="../../images/circle_icon.png" alt="#">
                    Подписчиков:  {{creator_info.followers_count}}
                </p>
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="../../images/circle_icon.png" alt="#">
                    Доход в месяц: 10000 Руб
                </p>
            </div>
            <div class="box1-info">
                {{#if is_my_page}}
                    {{#if edit_aim}}
                        <div class="box1-info-container">
                            <h4>Цели</h4>
                            <img id="pencil-icon-aim" class="pencil-icon" width="20"
                                 src="../../images/edit_pencil_write_icon.png" alt="pencil-icon">
                        </div>
                        <div>{{ aim.description }}</div>
                        <p>{{aim.money_got}} из {{ aim.money_needed }} рублей</p>
                    {{else}}
                        <div class="box1-info-container">
                            <h4>Цели</h4>
                            <img id="close-icon-aim" class="pencil-icon" width="20" src="../../images/close.png"
                                 alt="close-icon">
                        </div>
                        <div>
                            <div> Описание:</div>
                            <textarea id="description-edit-aim" type="text">
                            </textarea>

                            <div> Цель:</div>
                            <input id="money-needed-edit-aim" type="text" value="{{ aim.money_needed }}">
                        </div>
                        <button id="save-btn-aim" class="subs-btn">Сохранить</button>
                        <div id="edit-aim-err"></div>
                    {{/if}}
                {{else}}
                    <div class="box1-info-container">
                        <h4>Цели</h4>
                    </div>
                    <div>{{ aim.description }}</div>
                    <p>{{aim.money_got}} из {{ aim.money_needed }} рублей</p>
                    {{#if isAuthorized }}
                        <div class="donate-btn-container">
                            <button id="donate-btn-aim" class="subs-btn">Отправить донат</button>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        <div class="box-2">
            <div class="aboutAuthor-container">
                <div class="aboutAuthor-container-header">
                    <h3>О моем блоге:</h3>
                    {{#if is_my_page}}
                        <img id="pencil-icon-about" class="pencil-icon" width="20"
                             src="../../images/edit_pencil_write_icon.png" alt="pencil-icon">
                    {{/if}}
                </div>
                <h3>{{creator_info.description}}</h3>
            </div>
            {{#each posts}}
                <div class="post-container" id="{{id}}">
                    <div class="post-container-header">
                        <h4 class="post-title">{{title}}</h4>
                        {{#if ../is_my_page}}
                            <img id="pencil-icon" class="pencil-icon" width="20"
                                 src="../../images/edit_pencil_write_icon.png" alt="pencil-icon">
                            <img id="delete-icon" class="delete-icon" width="25" src="../../images/delete_ic_icon.png"
                                 alt="delete-icon">
                        {{/if}}
                    </div>

                    {{#if is_available}}
                        {{#each textWithBreaks}}
                            <p class="post-text">{{text}}</p>
                        {{/each}}
                    {{else}}
                        <p>--- Пост недоступен ---</p>
                    {{/if}}

                    <div class="post-footer-container">
                        <span class="like-container">
                            {{#unless ../isAuthorized }}
                                <img id="disable-like-icon" class="like-icon--disable" width="27" src="../../images/disable_like_icon.png" alt="disable_like-icon">
                            {{else}}
                                {{#if ../is_my_page}}
                                    <img id="disable-like-icon" class="like-icon--disable" width="27" src="../../images/disable_like_icon.png" alt="disable_like-icon">
                                {{else}}
                                    {{#if is_liked}}
                                        <img id="love-like-icon" class="like-icon" width="27" src="../../images/love_like_icon.png" alt="love_like-icon">
                                    {{else}}
                                        <img id="like-icon" class="like-icon" width="25" src="../../images/like_icon.png" alt="like-icon">
                                    {{/if}}
                                {{/if}}
                            {{/unless}}
                            <span>{{likes_count}}</span>
                        </span>
                        <img id="comment-icon" class="comment-icon" width="25" src="../../images/comment_icon.png"
                             alt="comment-icon">
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="box-3">
            <div class="box-3__container">
                <div class="box3-header-container">
                    <h3>Уровни подписки</h3>
                    {{#if is_my_page }}
                        <img id="pencil-icon-level" class="pencil-icon" width="20"
                             src="../../images/edit_pencil_write_icon.png" alt="pencil-icon">
                    {{/if}}
                </div>
                <hr class="box-3__divider">
                {{#each subscriptions}}
                    <h4>{{ title }}</h4>
                    <div class="box-3__money">{{month_const}} рублей</div>
                    <div>{{description}}</div>
                    <hr class="box-3__divider">
                {{/each}}
            </div>
        </div>
    </div>
    <div id="footer">
        <hr style="opacity: 75%;">
        <h6>©️ 2023 4from5 All rights reserved. All trademarks are the property of their respective owners. <a
                href="https://t.me/averageqqq">TG</a></h6>
    </div>

</div>
