<h1 class="myPage-header"><img id="user-photo" width="50" src="./images/user_photo.png" alt="user_photo"> {{creator_info.name}}</h1>
<hr>
<div id="myPage">
    <div class="container">
        <div class="box-1">
            <div class="box1-btn-container">
                {{#if is_my_page}}
                    <button id="createPost-btn" class="subs-btn">Создать пост</button>
                {{else}}
                    <button id="subs-btn" class="subs-btn">Подписаться</button>
                {{/if}}
            </div>
            <div class="box1-info">
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="./images/circle_icon.png" alt="#">
                    Подписчиков:  {{creator_info.followers_count}}
                </p>
                <p class="box1-info-text">
                    <img id="circle-icon" width="10" src="./images/circle_icon.png" alt="#">
                    Доход в месяц: 10000 Руб
                </p>
            </div>
            <div class="box1-info">
                <p>Цели</p>
                <p>120 из 500 рублей</p>
                {{#unless is_my_page}}
                    <button id="subs-btn" class="subs-btn">Отправить донат</button>
                {{/unless}}
            </div>
        </div>
        <div class="box-2">
            <div class="aboutAuthorContainer">
                <h3>О моем блоге: {{creator_info.description}}</h3>
            </div>
            {{#each posts}}
                <div class="postContainer">
                    <div class="postContainer-header">
                        <h4 class="post-title">{{title}}</h4>
                        <img id="pencil-icon" width="20" src="./images/edit_pencil_write_icon.png" alt="pencil-icon">
                        <img id="delete-icon" width="25" src="./images/delete_ic_icon.png" alt="delete-icon">
                    </div>
                    {{#each textWithBreaks}}
                        <p class="post-text">{{text}}</p>
                    {{/each}}
                </div>
            {{/each}}
        </div>
        <div class="box-3"><h3>Уровни подписки</h3></div>
    </div>



</div>
